.about {
  &__container {
    @include flex-mixin($align: center);
    gap: 30px;
  }
  &__images {
    display: none;
  }
  &__content {
    @include flex-mixin($direction: column);
    gap: 15px;
  }
  &__lead {
    @include flex-mixin($align: center);
    gap: 10px;
    @extend %lead-text;
    &::before {
      @extend %line-before;
      background-color: $primary-black-text;
    }
  }
  &__title {
    font-size: 28px;
    font-weight: $headline-fw;
    letter-spacing: 0.05em;
    text-wrap: balance;
  }
  &__text {
    letter-spacing: 0.02em;
    line-height: 26px;
    color: $secondary-black-text;

    &--size {
      font-size: $secondary-fs;
    }
  }

  &__btn {
    margin-top: 20px;
  }
}

@include tablet {
  .about {
    &__images {
      @include flex-mixin($direction: column);
      gap: 15px;
    }
    &__img {
      &--desktop {
        display: none;
      }
    }
  }
}

@include desktop {
  .about {
    &__images {
      @include flex-mixin($direction: row);
    }
    &__img {
      display: none;
      &--desktop {
        display: flex;
      }
    }
    &__title {
      font-size: 42px;
    }

    &__text {
      &--size {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}
