.contacts {
  &__container {
    padding: 0;
  }
  &__section {
    @include flex-mixin($direction: column, $align: center);
    gap: 50px;
    background-color: $terciary-bg;
    height: 557px;
    padding: 60px 31px;
    &--bg {
      height: 496px;
      // en la ruta ../ debido a un problema con pages de github
      background-image: url(../images/mobile/contacts-bg.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $terciary-bg;
    }
  }
  &__title {
    font-size: 42px;
    letter-spacing: 0.05em;
    color: $main-white-text;
  }

  &__box {
    @include flex-mixin($direction: column, $align: flex-start);
    gap: 40px;
    width: 418px;
  }

  &__list {
    @include flex-mixin($direction: column);
    gap: 15px;
  }

  // &__item {
  // }

  &__link {
    @include flex-mixin($align: baseline);
    gap: 10px;
    font-size: 18px;
    color: $secondary-white-text;

    &--underline {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: transparent;
    stroke: $secondary-white-text;
  }

  &__footer {
    @include flex-mixin($direction: column);
    gap: 15px;
  }
  &__text {
    @include flex-mixin($align: center);
    gap: 10px;
    @extend %lead-text;
    color: $main-white-text;

    &::before {
      @extend %line-before;
      background-color: rgba(157, 164, 189, 0.4);
    }
  }
  &__horary {
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 30px;
    color: $secondary-white-text;
  }
}

@include tablet {
  .contacts {
    // &__container {
    //   padding: 0 39px;
    // }

    &__section {
      align-items: flex-start;
      height: 521px;

      &--bg {
        height: 449px;
        background-image: url(../images/tablet/contacts-bg.webp);
      }
    }

    &__box {
      @include flex-mixin($direction: row, $justify: space-between);
      width: 690px;
    }

    &__list {
      width: 330px;
      gap: 40px;
    }

    &__span {
      width: 175px;
    }
    &__footer {
      width: 330px;
    }
  }
}

@include desktop {
  .contacts {
    &__container {
      display: flex;
      padding: 0 39px;
    }
    &__section {
      // align-items: center;
      padding-top: 120px;
      width: 601px;
      height: 644px;

      &--bg {
        height: 644px;
        background-image: url(../images/desktop/contacts-bg.webp);
        padding-left: 95px;
      }
    }

    &__box {
      @include flex-mixin($direction: column, $justify: space-between);
      width: 270px;
    }
  }
}
