.footer-page {
  &__container {
    @include flex-mixin($justify: space-between);
    height: 138px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__copyright {
    @include flex-mixin($align: flex-end);
    display: flex;
    align-items: flex-end;
  }
}

@include tablet {
  .footer-page {
    &__container {
      align-items: center;
      height: 127px;
    }

    &__copyright {
      align-items: center;
    }
  }
}
