.portfolio {
  &__container {
    @include flex-mixin($direction: column, $align: center);
    gap: 20px;
  }
  &__lead {
    @include flex-mixin($align: center);
    gap: 10px;
    @extend %lead-text;

    &::before {
      @extend %line-before;
      background-color: $primary-black-text;
    }
  }
  &__title {
    display: none;
  }
  &__list {
    @include flex-mixin($direction: column, $align: center);
    gap: 30px;
  }
  &__item {
    width: 418px;
    height: 360px;
  }
}

@include tablet {
  .portfolio {
    &__container {
      align-items: flex-start;
    }
    &__list {
      @include flex-mixin($direction: row, $justify: center);
      flex-wrap: wrap;
      gap: 30px;
    }
    &__item {
      flex-basis: calc((100% - 30px) / 2);
      width: 330px;
    }
  }
}

@include desktop {
  .portfolio {
    &__list {
      width: 100%;
      justify-content: space-between;
    }
    &__item {
      flex-basis: calc((100% - 90px) / 4);
      width: 270px;
    }
  }
}
