.sidebar {
  &--header {
    display: none;
  }
  &__list {
    @include flex-mixin($align: center);
    gap: 35px;
    width: 270px;
    height: 15px;

    &::before {
      @extend %line-before;
      background-color: $primary-black-text;
    }
  }

  &__link {
    font-size: $desc-fs;
    font-weight: $desc-fw;
    letter-spacing: 0.2em;
    color: $primary-black-text;
    &:hover,
    &:focus {
      color: $hover-color;
    }
  }
}

@include tablet {
  .sidebar {
    &--header {
      @include flex-mixin($justify: center, $align: flex-end);
      width: 90px;
      height: 100%;
    }

    &__list {
      &--header {
        transform: rotateZ(-90deg) translateX(130px) translateY(-14px);
      }
    }
  }
}
