// Estilos repetidos?
%line-before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
}

%lead-text {
  font-size: $lead-fs;
  font-weight: $lead-fw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
