$main-bg: #ffffff;
$barbers-section-bg: #f7f7f7;
$terciary-bg: #191c26;
$primary-black-text: #303030;
$secondary-black-text: #555555;
$main-white-text: #ffffff;
$secondary-white-text: #9da4bd;
$main-font-family: "Open Sans", sans-serif;
$headline-font-family: "Raleway", sans-serif;
$main-fs: 14px;
$desc-fs: 11px;
$secondary-fs: 16px;
$main-fw: 400;
$desc-fw: 600;
$headline-fw: 700;
$hover-color: #ff6c00;
